<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
       
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="ekgurney14" />
            <add key="ClearTextPassword" value="0a5942c2a711e77eea24d30a93bc4d3e19c12d13" />
        </github>
    </packageSourceCredentials>
</configuration>
