<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
       
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="ekgurney14" />
            <add key="ClearTextPassword" value="51b0ecdec5cf3bf05ef20ec29c48251b216c4a52" />
        </github>
    </packageSourceCredentials>
</configuration>
