<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
      <add key="github"
           value="https://nuget.pkg.github.com/ekgurney14/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="ekgurney14" />
            <add key="ClearTextPassword" value="c6221911ca0dd9baa95e642786c4c2c7d192dc9b" />
        </github>
    </packageSourceCredentials>
</configuration>
