# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        
      #
      - name: dotnet restore
        run: dotnet restore
      # Runs a set of commands using the runners shell
      - name: dotnet build
        run: dotnet build EntityFramework6CoreContextDriver.sln
      # dot net pack
      - name: dotnet pack
        run: dotnet pack --configuration Release
        
      # push to nuget
      - name: dotnet nuget push
        run: dotnet nuget push "bin/Release/EntityFramework6CoreContextDriver.1.1.0.nupkg" --source "github"
